/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: unset;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
  &:hover {
    background-color: #333;
    color: #fff;
  }
  &.btn--reverse {
    background-color: #333;
    color: #fff;
    &:hover {
      background-color: transparent;
      color: #333;
    }
  }
  &.btn--brown {
    color: #592b18;
    border-color: #592b18;
    &:hover {
      color: #fff;
      background-color: #592b18;
    }
  }
  &.btn--gold {
    color: #d9aa8a;
    border-color: #fff;
    &:hover {
      color: #fff;
      background-color: #d9aa8a;
    }
  }
  &.btn--white {
    color: #fff;
    border-color: #fff;
    &:hover {
      color: #333;
      background-color: #fff;
    }
  }
}
.back-to-position {
  opacity: 0;
  transition: 1s;
  &.toRight {
    transform: translateX(-150px);
  }
  &.toLeft {
    transform: translateX(150px);
  }
}
.show {
  .back-to-position {
    opacity: 1;
    transform: translateX(0);
    &.delay-0 {
      transition-delay: 0s;
    }
    &.delay-1 {
      transition-delay: .3s;
    }
    &.delay-2 {
      transition-delay: .6s;
    }
    &.delay-3 {
      transition-delay: .9s;
    }
  }
}
.swiper-container {
  overflow: hidden;
}

/* HEADER */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  z-index: 9999;
  > .inner {
    height: 120px;
  }
  .logo {
    height: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .sub-menu {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    ul.menu {
      display: flex;
      font-family: Arial, Helvetica, sans-serif;
      li {
        position: relative;

        &:not(:first-child)::before {
          content: "";
          //display: block; absolute로 변경해서 필요없어짐
          width: 1px;
          height: 12px;
          background-color: #e5e5e5;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
        }

        a {
          font-size: 12px;
          padding: 11px 16px; //a태그는 기본적으로 인라인요소이기 때문에 내부여백x
          display: block;
          color: #656565;

          &:hover {
            color: #000;
          }
        }
      }
    }

    .search {
      height: 34px;
      position: relative;

      input {
        width: 36px;
        height: 34px;
        padding: 4px 10px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 5px;
        outline: none;
        background-color: #fff;
        color: #777;
        font-size: 12px;
        transition: width 0.4s;

        &:focus {
          width: 190px;
          border-color: #669900;
        }
      }

      .material-icons {
        height: 24px; //google 제공 기본 사이즈. absolute는 값이 필요함
        position: absolute;
        top: 0;
        right: 5px;
        bottom: 0;
        margin: auto;
        transition: 0.4s;
      }

      &.focused {
        .material-icons {
          opacity: 0;
        }
      }
    }
  }

  .main-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;

    .item {
      .item__name {
        padding: 10px 20px 34px 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: #333;
      }

      .item__contents {
        width: 100%;
        position: fixed;
        left: 0;
        display: none;

        .contents__menu {
          background-color: #2c2a29;

          > ul {
            display: flex;
            flex-wrap: wrap;
            padding: 20px 0;

            a:hover {
              text-decoration: underline;
            }

            > li {
              width: 220px;

              h4 {
                padding: 3px 0 12px 0;
                font-size: 14px;
                color: #fff;
              }

              ul li {
                padding: 5px 0;
                font-size: 12px;
                color: #999;
                cursor: pointer;
              }
            }
          }
        }

        .contents__texture {
          background: url("../images/main_menu_pattern.jpg");
          font-size: 12px;
          padding: 26px 0;

          a:hover {
            text-decoration: underline;
          }

          h4 {
            color: #999;
            font-weight: 700;
            a {
              display: flex;
              img {
                margin-left: 4px;
              }
            }
          }

          p {
            color: #669900;
            margin: 4px 0 14px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      &:hover {
        .item__name {
          background-color: #2c2a29;
          border-radius: 6px 6px 0 0;
          a {
            color: #669900;
          }
        }

        .item__contents {
          display: block;
        }

        .contents__texture {
          h4 a {
            display: flex;
          }
        }
      }
    }
  }
  
  .badges {
    position: absolute;
    top: 132px;
    right: 12px;
    .badge {
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 12px;
      box-shadow: 4px 4px 10px rgba(0,0,0,.15);
      cursor: pointer;
    }
  }
}
/* FOOTER */
footer {
  background-color: #272727;
  border-top: 1px solid #333;
  .inner {
    padding: 40px 0 60px 0;
  }
  .menu {
    display: flex;
    justify-content: center;
    li {
      position: relative;
      a {
        color: #ccc;
        font-size: 12px;
        font-weight: 700;
        padding: 15px;
        display: block;
        &.green {
          color: #669900;
        }
      }
      &:last-child::before {
        display: none;
      }
      &::before {
        content: '';
        width: 3px;
        height: 3px;
        background-color: #555;
        position: absolute;
        top: 0;bottom: 0;
        right: -1px;
        margin: auto;
      }
    }
  }
  .btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    .btn {
      font-size: 12px;
      margin-right: 10px;
      &:last-child {
        margin: 0;
      }
    }
  }
  .info {
    margin-top: 30px;
    text-align: center;
    span {
      margin-right: 20px;
      color: #999;
      font-size: 12px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .copyright {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
  }
  .logo {
    margin: 30px auto 0;
  }
}