/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
  height: 6000px;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: unset;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
  &:hover {
    background-color: #333;
    color: #fff;
  }
  &.btn--reverse {
    background-color: #333;
    color: #fff;
    &:hover {
      background-color: transparent;
      color: #333;
    }
  }
  &.btn--brown {
    color: #592b18;
    border-color: #592b18;
    &:hover {
      color: #fff;
      background-color: #592b18;
    }
  }
  &.btn--gold {
    color: #d9aa8a;
    border-color: #fff;
    &:hover {
      color: #fff;
      background-color: #d9aa8a;
    }
  }
  &.btn--white {
    color: #fff;
    border-color: #fff;
    &:hover {
      color: #333;
      background-color: #fff;
    }
  }
}

.swiper-container {
  overflow: hidden;
}

/* HEADER */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  z-index: 9999;
  > .inner {
    height: 120px;
  }
  .logo {
    height: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .sub-menu {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    ul.menu {
      display: flex;
      font-family: Arial, Helvetica, sans-serif;
      li {
        position: relative;

        &:not(:first-child)::before {
          content: "";
          //display: block; absolute로 변경해서 필요없어짐
          width: 1px;
          height: 12px;
          background-color: #e5e5e5;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
        }

        a {
          font-size: 12px;
          padding: 11px 16px; //a태그는 기본적으로 인라인요소이기 때문에 내부여백x
          display: block;
          color: #656565;

          &:hover {
            color: #000;
          }
        }
      }
    }

    .search {
      height: 34px;
      position: relative;

      input {
        width: 36px;
        height: 34px;
        padding: 4px 10px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 5px;
        outline: none;
        background-color: #fff;
        color: #777;
        font-size: 12px;
        transition: width 0.4s;

        &:focus {
          width: 190px;
          border-color: #669900;
        }
      }

      .material-icons {
        height: 24px; //google 제공 기본 사이즈. absolute는 값이 필요함
        position: absolute;
        top: 0;
        right: 5px;
        bottom: 0;
        margin: auto;
        transition: 0.4s;
      }

      &.focused {
        .material-icons {
          opacity: 0;
        }
      }
    }
  }

  .main-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;

    .item {
      .item__name {
        padding: 10px 20px 34px 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: #333;
      }

      .item__contents {
        width: 100%;
        position: fixed;
        left: 0;
        display: none;

        .contents__menu {
          background-color: #2c2a29;

          > ul {
            display: flex;
            flex-wrap: wrap;
            padding: 20px 0;

            a:hover {
              text-decoration: underline;
            }

            > li {
              width: 220px;

              h4 {
                padding: 3px 0 12px 0;
                font-size: 14px;
                color: #fff;
              }

              ul li {
                padding: 5px 0;
                font-size: 12px;
                color: #999;
                cursor: pointer;
              }
            }
          }
        }

        .contents__texture {
          background: url("../images/main_menu_pattern.jpg");
          font-size: 12px;
          padding: 26px 0;

          a:hover {
            text-decoration: underline;
          }

          h4 {
            color: #999;
            font-weight: 700;
            a {
              display: flex;
              img {
                margin-left: 4px;
              }
            }
          }

          p {
            color: #669900;
            margin: 4px 0 14px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      &:hover {
        .item__name {
          background-color: #2c2a29;
          border-radius: 6px 6px 0 0;
          a {
            color: #669900;
          }
        }

        .item__contents {
          display: block;
        }

        .contents__texture {
          h4 a {
            display: flex;
          }
        }
      }
    }
  }
  
  .badges {
    position: absolute;
    top: 132px;
    right: 12px;
    .badge {
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 12px;
      box-shadow: 4px 4px 10px rgba(0,0,0,.15);
      cursor: pointer;
    }
  }
}

/* VISUAL */
.visual {
  margin-top: 120px;
  background: url('../images/visual_bg.jpg') center;
  .inner {
    height: 646px;
    .title {
      position: absolute;
      top: 88px;
      left: -10px;
      .btn {
        //margin: 10px auto 0;
        position: absolute;
        top: 259px;
        left: 173px;
      }
    }
    .cup1 {
      &.image {
        position: absolute;
        bottom: 0;
        right: -47px;
      }
      &.text {
        position: absolute;
        top: 38px;
        right: 171px;
      }
    }
    .cup2 {
      &.image {
        position: absolute;
        bottom: 0;
        right: 162px;
      }
      &.text {
        position: absolute;
        top: 321px;
        right: 416px;
      }
    }
    .spoon {
      position: absolute;
      bottom: 0;
      right: 275px;
    }
  }
  .fade-in {
    opacity: 0;
  }
}

/* NOTICE */
.notice {
  width: 100%;
  .notice-line {
    position: relative;
    > div:not(.inner) {
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      &.bg-left {
        left: 0;
        background-color: #333;
      }
      &.bg-right {
        right: 0;
        background-color: #f6f5ef;
      }
    }
    .inner {
      height: 62px;
      display: flex;
      &__left {
        width: 60%;height: 100%;
        background-color: #333;
        display: flex;
        align-items: center;
        
        h2 {
          color: #fff;
          font-weight: 700;
          font-size: 17px;
          margin-right: 20px;
        }
        .swiper-container {
          flex-grow: 1;
          height: 62px;
          .swiper-slide {
            height: 62px;
            display: flex;
            align-items: center ;
            a{
              color: #fff;
            }
          }
        }
        .notice-line__more{
          width: 62px;
          height: 62px;
          display: flex;
          justify-content: center;
          align-items: center;
          .material-icons {
            color: #fff;
            font-size: 30px;
          }
        }
      } 
      &__right {
        width: 40%;height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        h2 {
          font-weight: 700;
          font-size: 17px;
          margin-right: 20px;
          .toggle-promotion {
            width: 62px;
            height: 62px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            .material-icons{
              font-size: 30px;
            }
          }
        }
      }
    }
  }
  .promotion {
    width: 100%;
    height: 693px;
    background-color: #f6f3ef;
    position: relative;
    transition: height .4s;
    overflow: hidden;
    
    .swiper {
      &-container {
        width: calc(819px * 3 + 20px);
        height: 553px;
        position: absolute;
        top: 40px;
        left: 50%;
        margin-left: calc((819px * 3 + 20px) / -2);
      }
      &-slide {
        opacity: .5;
        transition: opacity 1s;
        position: relative;
        &-active {
          opacity: 1;
        }
        .btn {
          position: absolute;
          bottom: 0;left: 0;right: 0;
          margin: auto;
        }
      }
      &-pagination {
        bottom: 40px;left: 0;right: 0;
        &-bullet {
          background-color: transparent;
          background-image: url("../images/promotion_slide_pager.png");
          width: 12px;height: 12px;
          margin-right: 6px;
          outline: none;
          &:last-child {margin-right: 0;}
          &-active {
            background-image: url("../images/promotion_slide_pager_on.png");
          }
        }
      }
      &-prev, &-next {
        width: 42px;height: 42px;
        border: 2px solid #333;
        border-radius: 50%;
        position: absolute;
        top: 300px;
        z-index: 1;
        cursor: pointer;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: #333;
          color: #fff;
        }
      }
      &-prev {
        left: 50%;margin-left: -480px;
      }
      &-next {
        right: 50%;
        margin-right: -480px;
      }
    }
    &.hide {
      height: 0;
    }
  }
}

/* REWARDS */
.rewards {
  position: relative;
  .bg {
    &-left {
      width: 50%;height: 100%;
      background-color: #272727;
      position: absolute;
      top: 0;left: 0;
    }
    &-right {
      width: 50%;height: 100%;
      background-color: #d5c798;
      position: absolute;
      top: 0;right: 0;
    }
  }
  .inner {
    background-image: url("../images/rewards.jpg");
    height: 241px;
  }
  .btn-group {
    position: absolute;
    bottom: 24px;
    right: 0;
    width: 250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .btn {
      &.sign-up {
        margin-right: 10px;
      }
      &.sign-in {
        width: 110px;
      }
      &.gift {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        flex-grow: 1;
      }
    }
  }
}

.youtube {
  position: relative;
  height: 700px;
  background-color: #333;
  overflow: hidden;
  &__area {
    width: 1920px;
    background-color: orange;
    position: absolute;
    left: 50%;
    margin-left: calc(1920px / -2);
    top: 50%;
    margin-top: calc((1920px * 9 / 16) / -2);
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 0;
      padding-top: 56.25%;
    }
  }
  &__cover {
    background-image: url("../images/video_cover_pattern.png");
    background-color: rgba(0,0,0,.3);
    position: absolute;
    top: 0;left: 0;
    width: 100%;height: 100%;
  }
  .inner {
    height: 700px;
    .floating {
      position: absolute;
      &--1 {
        top: 50px;
        left: 0;
      }
      &--2 {
        top: 350px;
        left: 150px;
      }
    }
  }
}

#player {
  width: 100%; height: 100%;
  position: absolute;
  top: 0;left: 0;
}

/* SEASON PRODUCT */
.season-product {
  background-image: url("../images/season_product_bg.jpg");
  .inner{
    height: 400px;
  }
  
  .floating--3 {
    position: absolute;
    top: -200px;
    right: 0;
  }

  .text {
    &-group {
      position: absolute;
      top: 110px;
      right: 100px;
      .title {
        margin-bottom: 10px;
      }
      .description {
        margin-bottom: 10px;
      }
    }
  }
}

/* RESERVE COFFEE */
.reserve-coffee {
  background-image: url("../images/reserve_bg.jpg");
  .inner {
    height: 400px;
  }
  .reserve-logo {
    position: absolute;
    top: 110px;left: 0;
  }
  .text-group {
    position: absolute;top: 124px;left: 208px;
  }
  .product {
    position: absolute;
    top: 0;right: 0;
  }
}

/* PICK YOUR FAVORITE */
.pick-your-favorite {
  background: url("../images/favorite_bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  .inner {
    padding: 110px 0;
  }
  .text-group {
    width: 362px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    .title, 
    .description {
      margin-bottom: 40px;
    }
  }
}

/* RESERVE STORE */
.reserve-store {
  background: url("../images/reserve_store_bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  .inner {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .medal {
    width: 334px;
    height: 334px;
    perspective: 600px;

    >div {
      position: absolute;
      width: 334px;height: 334px;
      backface-visibility: hidden; //뒷면 가리기
      transition: 1s;

      &.front {
        transform: rotateY(0);
      }
      &.back {
        transform: rotateY(-180deg);
        .btn {
          position: absolute;
          top: 240px;left: 0; right: 0;
          margin: auto;
        }
      }
    }

    &:hover {
      .front {
        transform: rotateY(180deg);
      }
      .back {
        transform: rotateY(0);
      }
    }
  }
}

/* FIND THE STORE */
.find-store {
  background: url("../images/find_store_bg.jpg");
  .inner {
    height: 400px;
    .texture {
      position: absolute;
      &1 {
        top: 0;left: 400px;
      }
      &2 {
        bottom: 0;right: 0;
      }
    }
    .picture {
      border-radius: 50%;
      box-shadow: 2px 2px 8px rgba(0,0,0,.5);
      position: absolute;
      &1 {
        top: -60px; left: 0;
      }
      &2 {
        top: 150px;left: 250px;
      }
    }
  }
  .text-group {
    position: absolute;
    top: 120px;left: 550px;
    .title,
    .description {
      margin-bottom: 20px;
    }
  }
}